$laptop-above: 1281px;
$laptop: 1280px;

$tablet-above: 1025px;
$tablet: 1024px;

$mobile-above: 768px;
$mobile: 767px;

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: $laptop-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

